<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<div class="bs-example visible-md-block visible-lg-block visible-xs-block visible-sm-block" data-example-id="simple-carousel-1">
    <div class="carousel slide" id="carousel-example-generic-1" data-ride="carousel">
        <!--<ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>-->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-color: black; padding-top:60px;">
                <img alt="Second slide [900x500]" class="img-responsive center-block" style="max-height: 40vh;" src="{{ site.url }}/img/hoor-bg-without-top.jpg" data-holder-rendered="true">
            </div>
            <div class="item" style="background-color: black; padding-top:60px;">
                <img alt="Second slide [900x500]" class="img-responsive center-block" style="max-height: 40vh;" src="{{ site.url }}/img/innocent-bg.jpg" data-holder-rendered="true">
            </div>
            <div class="item" style="background-color: black; padding-top:60px;">
                <img alt="Second slide [900x500]" class="img-responsive center-block" style="max-height: 40vh;" src="{{ site.url }}/img/side-face-bg.jpg" data-holder-rendered="true">
            </div>
            <div class="item" style="background-color: black; padding-top:60px;">
                <img alt="Second slide [900x500]" class="img-responsive center-block" style="max-height: 40vh;" src="{{ site.url }}/img/ganpati-bg.png" data-holder-rendered="true">
            </div>
            <div class="item" style="background-color: black; padding-top:60px;">
                <img alt="Second slide [900x500]" class="img-responsive center-block" style="max-height: 40vh;" src="{{ site.url }}/img/console-bg.jpg" data-holder-rendered="true">
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic-1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic-1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    <!-- Header -->
    <header>
        <!--<div class="container">
            
            <div class="intro-text">
                <!--<div class="intro-lead-in">Welcome To Suchitra Marbles!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <!--<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>--
            </div>
        </div>-->
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
