<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Temples</h4>
                    <p class="text-muted">Marble Temple, Corean Temples, Makrana Temples, Inlay Work, Customized temples and Figures</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Artefacts and God Figures</h4>
                    <p class="text-muted">Marble Dust Artefacts, Marble Dust Fountains, Marble Vases, Composite Marble Artefacts, God Figures, FRP (Fibre Reinforced Plastic) Decor</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Home Decor</h4>
                    <p class="text-muted">Marble CNC cuttings, Customized CNC artwork, Wall Hangings, European style Decor, Fountains, Decorative Vases, </p>
                </div>
            </div>
        </div>
    </section>
